<%- contentFor('body') %>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center"><%=nome.nome%> - Itens</h1>
                    </div>
                    <div class="col-md-12 text-center" style="margin-bottom: 10px;">
                        <input class="border rounded" type="text" placeholder="Pesquise" id="search-bar">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Categoria</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable">
                                    <% data.map((e)=>{%>
                                        <tr>
                                            <td><%=e.id%></td>
                                            <td><%=e.nome%></td>
                                            <td><%=e.categoria%></td>
                                        </tr>
                                    <%});%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                    <div class="col"><a class="btn btn-danger btn-block" type="button" href="/caixas/adicionarItem/<%= id %>"><i class="fa fa-plus"></i>&nbsp;Atribuir</a></div>
                    <div class="col"><button class="btn btn-danger btn-block" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button></div>
                </div>
            </div>
        </div>        
    </div>
<script>
    let listaPadrao;
    $(function(){
        listaPadrao = Array.from($("#dataTable")[0].children);
        $("#search-bar").keyup(()=>{
            let resultado;
            let pesquisa = $("#search-bar").val().toLocaleLowerCase();
            if (pesquisa != ""){
                resultado = Array.from(listaPadrao).filter((e)=>{
                    return (e.children[1].innerHTML.toLocaleLowerCase().indexOf(pesquisa) > -1);
                });
            }else{
                resultado = listaPadrao;
            }
            
            $("#dataTable")[0].innerHTML = "";
            resultado.map((i)=>{
                $("#dataTable")[0].append(i);
            })
            
        })
    })
</script>